@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
    url(../assets/font/Inter-Regular.ttf) format("truetype");
  font-display: swap;
}

::-webkit-scrollbar {
  background: #fff;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 10px;
}

::selection {
  background-color: #f0abfc;
}

::moz-selection {
  background-color: #f0abfc;
}

*,
html {
  scroll-behavior: smooth;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  min-height: 100dvh;
  width: 100%;

  margin: auto;
  background-color: #fff;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 45%;
  max-width: 1800px;
  min-width: 320px;

  padding: 100px 36px;
}

#customNav {
  position: fixed;
  top: 2rem;
  left: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  padding: 16px 36px;

  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
